<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- jquery for ajax and bootstrap css-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>

    <div class="container mt-2">
      <div class="input-group mb-2">
        <input class="form-control" id="search-input" />
        <button class="input-group-append btn btn-danger" id="search">
          검색
        </button>
      </div>

      <ul class="list-group">
        <% for (var i = 0; i < posts.length; i++){ %>
        <li class="list-group-item" data-id="<%=posts[i]._id%>">
          <p>글 번호 : <%=posts[i]._id%></p>
          <h4>글 제목 : <%= posts[i].title %></h4>
          <p>날짜 : <%= posts[i].date %></p>
          <button class="deleteBtn" data-id="<%=posts[i]._id%>">삭제</button>
          <button class="detailBtn" data-id="<%=posts[i]._id%>">
            <!-- onclick="location.href='/detail/<%=posts[i]._id%>'" -->
            자세히 보기
          </button>
          <button
            class="chatBtn"
            data-writerName="<%=posts[i].writerName%>"
            data-writerId="<%=posts[i].writerId%>"
          >
            <%=posts[i].writerName%>에게 1:1 채팅 신청하기
          </button>
        </li>
        <% } %>
      </ul>
    </div>

    <script>
      $(".deleteBtn").click(function (e) {
        console.log(e.target.dataset.id);
        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: e.target.dataset.id },
        })
          .done((result) => {
            // e.target.parentElement.remove();
            $(this).parent("li").fadeOut();
          })
          .fail(() => {
            window.alert("권한이 없습니다");
            console.log("권한이 없습니다");
          });
      });
      // 바닐라JS를 사용하려면 document.querySelectorAll을 사용해야한다. queryselector는 맨 위 child만 선택한다. 자식요소중 첫번째.
      const detailBtns = document.querySelectorAll(".detailBtn");
      detailBtns.forEach(
        (detailBtn) =>
          (detailBtn.onclick = (e) => {
            console.log(e);
            location.href = "/detail/" + e.target.dataset.id;
          })
      );

      // 검색버튼
      const searchBtn = document.querySelector("#search");
      searchBtn.onclick = () => {
        const search = document.querySelector("#search-input").value;
        location.href = "/search?value=" + search; // 쿼리스트링 전달
      };

      $(".chatBtn").click(function (e) {
        window.location.href = "/chat";
        $.ajax({
          method: "POST",
          url: "/chat",
          data: {
            writerName: e.target.dataset.writername,
            writerId: e.target.dataset.writerid,
          },
        }).fail(() => {
          window.alert("자기 자신과 대화할 수 없습니다. \n채팅방으로 이동합니다.");
        });
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
